html, body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

html {
    overflow-x: hidden
}

.animate-left {
    position: relative;
    animation: animateleft 0.4s
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0
    }
    to {
        left: 0;
        opacity: 1
    }
}

.card_row {
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
}

.button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

/*.open-sidebar-btn {
    padding-left: 30px;
}*/

header, .hover-teal:hover {
    color: #fff !important;
    background-color: #198754 !important;
    width: 100%;
    /*height: 50px;*/
    /*position: fixed !important;*/
    top: 0;
    z-index: 2;
    overflow: auto;
    display: flex;
    padding: 5px;
}

.large {
    font-size: 18px !important
}

.xlarge {
    font-size: 24px !important
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0
}

.wide {
    letter-spacing: 4px
}

h1 {
    font-size: 42px;
    margin: 50px 30px 25px;
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 20px
}

h5 {
    font-size: 18px
}

h6 {
    font-size: 16px
}

.main, #main {
    transition: margin-left .4s
}

.container {
    padding: 0.01em 16px;
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
}

.preview {
    margin: 30px auto;
    text-align: center;
}

.sidebar {
    height: 100%;
    width: 200px;
    background-color: #fff;
    position: fixed !important;
    z-index: 1;
    overflow: auto;
    padding: 20px 10px;
}

.bar-item {
    display: flex;
    justify-content: flex-start;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-pills {
    --bs-nav-pills-border-radius: 0.375rem;
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: #198754;
}

.btn-login {
    background-color: white;
}

/*.btn {
    height: 45px;
}*/

.h-btn {
    display: flow-root;
}

a {
    text-decoration: none;
}

.title_part {
    display: inline-block;
}

.preview-image {
    float: left;
    margin: 0 30px 30px 0;
}

.posts {
    max-width: 1000px;
    padding-top: 20px;
}

.post-container {
    margin-right: 15px;
    margin-left: 15px;
    flex: 0 0 auto;
    max-width: 470px;
    width: 49% !important;
}

.sidebar-item {
    padding-left: 40px;
}

.my_row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.form-post {
    max-width: 500px;
    padding: 15px;
    z-index: 2;
}

main {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #198754;
}

a:hover {
    color: #1ac06f;
}

.image_carousel {
    float: left;
    margin: 15px 15px 15px 0;
}

.post-header {
    padding-top: 20px;
}

.post-body {
    padding: 15px;
    min-height: 550px;
}

.comments {
    margin: 15px;
}

.comment {
    padding: 15px;
    margin: 10px;
}

body div::selection {
    color: #fff !important;
    background-color: #1ea466 !important;
}

.account-img {
    height: 100px;
}

.account-img-post {
    height: 40px;
}

.account-row {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
}

.title {
    display: flex;
    margin: 20px auto 10px;
    justify-content: center;
}

.w-75 {
    margin-left: auto;
    margin-right: auto;
}

.post-content {
    display: flex;
}

.post-footer {
    display: flex;
    margin: 15px;
}

.card-text {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}

.card-element {
    margin-bottom: 10px;
}