{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="w-100 m-auto">
        <h1>{{ post.title }}</h1>
        <div>{{ post.publish_date }}</div>
        <div class="post-container">
            <div>{{ post.tags }}</div>
            <div class="preview-image">
                {% for image in images %}
                    <img src="{{ image.image.url }}" alt="" width="300">
                {% endfor %}
            </div>
            <div>
                {{ post.body }}
            </div>
            <div>{{ post.user_id }}</div>
        </div>

    </div>
{% endblock %}