{% extends 'users/base.html' %}

{% load django_bootstrap5 %}
{% load static %}

{% block content %}

    <main class="form-signin w-100 m-auto">
        <form method="POST">

            {% csrf_token %}

            <div style="display: inline-block">
                <img class="mb-4" src="{% static 'global/images/logo.png' %}" alt="" width="72" height="72">
                <h1 class="h3 mb-3 fw-normal">Вход</h1>
            </div>

            {% bootstrap_form form %}

        <!--    <div class="form-floating">
                <input type="email" class="form-control inp" id="floatingInput" placeholder="Адрес электронной почты">
                <label for="floatingInput">Адрес электронной почты</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control inp" id="floatingPassword" placeholder="Пароль">
                <label for="floatingPassword">Пароль</label>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" class="inp" value="remember-me"> Запомнить меня
                </label>
            </div>
        -->

            <button class="w-100 btn btn-lg btn-success" type="submit">Войти</button>
        </form>
        <a href="{% url 'reg_form' %}">
            <button type="button" class="btn btn-success">Регистрация</button>
        </a>
    </main>

{% endblock %}