{% load static %}
<!doctype html>
<html lang="ru">
<head>


    {# Load the tag library #}
    {% load django_bootstrap5 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <meta name="theme-color" content="#7952b3">
    <link rel="shortcut icon" href="{% static 'global/images/logo.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'users/css/styles5.css'%}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% block javascript %}{% endblock %}
     <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'users/css/styles5.css' %}" type="text/css">
    <!--<link rel="stylesheet" href="{#% static 'global/css/styles.css' %#}" type="text/css"> -->
    <link rel="stylesheet" href="{% static 'global/css/styles.css' %}" type="text/css">
</head>

<body class="text-center">

{% block content %}
{% endblock %}

</body>



</html>