{% load static %}
<!doctype html>
<html lang="ru">
<head>
    {# Load the tag library #}
    {% load django_bootstrap5 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ description }}">
    <title>{{ title }}</title>
    <meta name="theme-color" content="#7952b3">
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/styles1.css' %}">
    <link rel="shortcut icon" href="{% static 'global/images/logo.png' %}" type="image/png">
</head>

<body>

    <header class="py-1 mb-3 border-bottom">
        <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1.5fr 1fr;">
            <div class="container">
                <button class="button xlarge open-sidebar-btn" onclick="open_close_sidebar()">&#9776;</button>
            </div>

            <div class="d-flex align-items-center">

                <form class="w-50% me-3">
                    <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                </form>

                {% if request.user.is_authenticated %}
                   {% include 'user_menu.html' %}
                {% else %}
                    <a href="{% url 'login_form' %}">
                        <button type="button" class="btn btn-success h-btn ">Личный кабинет</button>
                    </a>
                {% endif %}

            </div>
        </div>
    </header>


    <div class="sidebar w3-bar-block card animate-left" style="display:none" id="mySidebar">
        <ul class="nav nav-pills flex-column mb-auto">

            <li class="nav-item">
                <a href="#" class="nav-link active" aria-current="page">
                    Мои растения
                </a>
            </li>

            <li>
                <a href="{% url 'blog_home' %}" class="nav-link link-dark">
                    Блог
                </a>
            </li>

            <li>
                <a href="#" class="nav-link link-dark">
                    Магазин
                </a>
            </li>

            <li>
                <a href="#" class="nav-link link-dark">
                    Библиотека растений
                </a>
            </li>
        </ul>
        <hr>
    </div>

    <div id="main">
        <main>
            {% block content %}
            {% endblock %}
        </main>

        <script type="text/javascript" src="{% static 'global/js/main.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    </div>
</body>
</html>