{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% if posts %}

        <a href="{% url 'add_post' %}">
            <button type="button" class="btn btn-success h-btn">Добавить пост</button>
        </a>

        <div class="posts row mb-2">

            {% for post in posts %}

                <div class="post-container">
                    <div class="my_row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <img height="200" width="auto !important" src="{{ post.image.url }}" alt="">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="mb-0">{{ post_title }}</h3>
                            <div class="mb-1 text-muted">{{ post.publish_date }}</div>
                            <p class="card-text mb-auto">{{ post.body }}</p>
                            {% if post.tags %}
                                <strong class="d-inline-block mb-2 text-primary">{{ post.tags }}</strong>
                            {% endif %}
                            <a href="{% url 'post' post.pk %}" class="stretched-link">Открыть целиком</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    {% else %}
        <p>Посты отсутствуют</p>
    {% endif %}

{% endblock %}
