{% extends 'base.html' %}
{% load bootstrap_icons %}
{% load static %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}

    <div class="category-sidebar">
        <form class="me-3" style="margin-left: auto">
            <input name="search" type="search" class="form-control" placeholder="Найти растение" aria-label="Search"
                   value={% if not search %} '' {% else %} {{ search }} {% endif %}>
        </form>
    </div>

    <div class="width-organizer">

        {% if plants %}

            <div class="posts row mb-2">

                {% for plant in plants %}

                    <div class="post-container">
                        <div class="my_row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            {% if plant.preview %}
                                <img width="100%" src="{{ plant.preview.url }}" alt="">
                            {% endif %}
                            <div class="col p-4 d-flex flex-column position-static" style="background-color: white">
                                <h3 class="card-element" style="margin-top: 0">{{ plant.title }}</h3>
                                <p class="card-text card-element">{{ plant.description|safe }}</p>
                                <div class="card-element" style="display: flex">
                                    {% if plant.tags %}
                                        <strong class="d-inline-block text-primary">{{ plant.tags }}</strong>
                                    {% endif %}
                                </div>
                                <div>
                                    <a class="card-element" href="{% url 'plant_page' plant.pk %}">Подробнее</a>
                                    <a href="#" class="btn btn-outline-success btn-sm btn-add-plant"
                                       style="margin-left: auto; float: right"
                                       onclick="plantAdd({{ plant.pk }})"
                                    >{% bs_icon 'plus' %}</a>
                                </div>
                            </div>

                        </div>
                    </div>
                {% endfor %}

            </div>
        {% else %}
            <p style="margin-top: 20px; font-size: large">Ничего не найдено</p>
        {% endif %}
    </div>

{% endblock %}

{% block  javascript %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'plants/js/plants_base.js' %}"></script>
{% endblock %}